body {
  background-color: $white;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  font-family: $base;
  font-weight: 300;
}

.title{
  text-align: center;
  font-size: 5em;
}

.description {
  text-align: justify;
  color: $gray;
}

.top-line, .bottom-line {
  width: 100%;
  border-bottom: 2px solid $black;
  margin: 2% 0;
}

.fizzbuzz-list,.interactive-fizzbuzz-list{
  list-style-type: none;
}

.each-num {
  padding: 2% 0;
  text-align: center;
}

