body {
  background-color: white;
  color: #141414;
  font-size: 16px;
  line-height: 16px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 300; }

.title {
  text-align: center;
  font-size: 5em; }

.fizzbuzz-list {
  list-style-type: none; }

.each-num {
  padding: 2% 0;
  text-align: center; }
